@import 'components/header.sass'
@import 'components/section-text'
@import 'components/section-card'
@import 'components/syllabus'
@import 'components/section-items'
@import 'components/section-money'
@import 'components/section-code'
@import 'components/section-results'
@import 'components/section-faq'
@import 'components/section-about'
@import 'components/section-course'
@import 'components/section-quality'
@import 'components/section-instructors'
@import 'components/footer'

*
	padding: 0
	margin: 0
	box-sizing: border-box

.container
	max-width: 1440px
	margin: 0 auto

.navbar
	display: flex
	background-color: white
	border-radius: 25px
.navlist
	display: flex
	gap: 10px
	padding: 0px 20px
	a
		display: block
		padding: 1em
		text-decoration: none
		color: #353535
		font-family: Montserrat
		font-size: 14px
		font-weight: 700
	a:hover
		color: #D7A36A
	.active
		color: #D7A36A

@media (max-width: 1360px)
	.navbar
		display: flex
		background-color: white
		border-radius: 25px
		.navlist
			display: flex
			gap: 0px
			a
				padding: 10px
				display: block
				text-decoration: none
				color: #353535
				font-family: Montserrat
				font-size: 12px
			a:hover
				color: #D7A36A
			.active
				color: #D7A36A
