.bg
	background: #F8EFE5
	padding: 1em 2em 0em 2em
	max-width: 100%

.heading
	display: flex
	justify-content: space-between
	padding-bottom: 68px
	.heading__left
		width: 100%
		.left__info
			width: 48%
			background-image: url('../img/header/bggg.png')
			background-repeat: no-repeat
			background-position: left
			background-size: contain
			width: 100%
			height: 100%
			position: relative
			.left__info-text
				color: #F8EFE5
				font-family: Mochiy Pop One
				font-size: 20px
				font-weight: 400
				line-height: 22.56px
				top: 10%
				right: 82%
				border-radius: 1000px 1000px 0px 1000px
				background: linear-gradient(0deg, #598C4F 0%, #598C4F 100%)
				width: 155px
				height: 165px
				padding: 45px 32px
			a
				text-decoration: none
				color: #F8EFE5

	.heading__right
		width: 36%
		.heading__menu
			display: flex
			justify-content: space-between
			gap: 35px
			padding: 15px 40px
			background: white
			border-radius: 25px
			a
				text-decoration: none
				color: #353535
				font-family: Montserrat
				font-size: 16px
				font-weight: 700
			a:hover
				color: #D7A36A
			.active
				color: #D7A36A

		.right__info
			width: 48%
			h1
				color: #353535
				font-family: Mochiy Pop One
				font-size: 50px
				font-weight: 400
				padding-bottom: 25px
				width: 188%
				padding-top: 40px
				span
					color: #D7A36A
			p
				color: #353535
				font-family: Montserrat
				font-size: 20px
				font-weight: 700
				padding-bottom: 25px
				width: 163%
			.heading__info-link
				color: #F8EFE5
				font-family: Mochiy Pop One
				font-size: 29px
				font-weight: 400
				border-radius: 60px 60px 0px 60px
				background: #D7A36A
				text-decoration: none
				text-align: center
				display: flex
				flex-direction: column
				align-items: center
				padding: 5px 0px
				&:hover
					color: #353535
			.small-text
				color: #F8EFE5
				font-family: Montserrat
				font-size: 16px
				font-weight: 600
				padding-top: 5px
				&:hover
					color: #353535
.top-ball
	width: 97px
	height: 103px
	border-radius: 1000px 1000px 0px 1000px
	background: #E0674D
	position: absolute
	top: 4%
	right: 9%
	display: block

.bootom-ball
	display: block
	position: absolute
	z-index: 1
	top: 83%
	right: 83%
	width: 97px
	height: 103px
	border-radius: 1000px 1000px 0px 1000px
	background: linear-gradient(0deg, #D7A36A 0%, #D7A36A 100%)

@media (max-width: 1360px)
	.container
		max-width: 1200px
		.heading
			.heading__left
				width: 100%
				.left__info
					.left__info-text
						font-size: 20px
						font-weight: 400
			.heading__right
				width: 39%
				margin-left: 20px
				.right__info
					width: 68%
					h1
						font-size: 26px
						width: 100%
					p
						font-size: 18px
						width: 150%
					.small-text
						font-size: 12px

@media (max-width: 991px)
	.container
		max-width: 960px
		.heading
			.heading__right
				width: 52%
	.top-ball
		display: none
	.bootom-ball
		display: none
@media (max-width: 767px)
	.container
		max-width: 720px
		.heading
			.heading__left
				width: 0%
				display: none
				.left__info
					background-image: none
			.heading__right
				width: 100%
				display: flex
				flex-direction: column
				text-align: center
				.right__info
					width: 100%
					h1
						font-size: 38px
						width: 100%
					p
						font-size: 18px
						width: 100%
					.small-text
						font-size: 14px
@media (max-width: 520px)
	.container
		width: 100%
		.navbar

@media (max-width: 440px)
	.container
		width: 100%
		.heading
			.heading__right
				.right__info
					h1
						font-size: 34px
				.navbar
					background-color: white
					justify-content: center
					border-radius: 200px
					.navlist
						display: block

@media (max-width: 420px)
	.container
		width: 100%
		.heading
			.heading__right
				.right__info
					h1
						font-size: 31px
