.course
	display: flex
	justify-content: space-between
	padding: 120px 2em
	&__info
		background-image: url('/img/catalog/bg2.svg')
		background-repeat: no-repeat
		background-position-y: bottom
		background-position-x: left
		h2
			color: #353535
			font-family: Mochiy Pop One
			font-size: 66px
			font-weight: 400
		p
			color: #353535
			font-family: Montserrat
			font-size: 20px
			font-weight: 500
			width: 50%
			padding-top: 100px
.course__text
	position: relative
	p
		position: absolute
		color: #F8EFE5
		font-family: Mochiy Pop One
		font-size: 41.553px
		font-style: normal
		font-weight: 400
		line-height: 46.872px
		top: 105px
		width: 10px
		left: -595px
		z-index: 10

	.drawing-green
		width: 337px
		height: 354px
		border-radius: 1000px 1000px 0px 1000px
		background: #598C4F
		position: absolute
		top: 3%
		right: 0%
		margin-right: 330px
		z-index: 3
	.drawing-orange
		width: 337px
		height: 354px
		border-radius: 1000px 1000px 0px 1000px
		background: #E0674D
		position: absolute
		top: 3%
		right: 0%
		z-index: 1
		margin-right: 162px
	.drawing-brown
		width: 337px
		height: 354px
		border-radius: 1000px 1000px 0px 1000px
		background: #D7A36A
		position: absolute
		top: 3%
		right: 0%
